<div class="home-background">
    <div class="intro-text">
        <p>A long time ago in a galaxy far,<br>far away...</p>
        <h1>STAR WARS</h1>
        <p>Episode I<br>A NEW JOB</p>
        <p>
            It is a period of technological growth.<br>
            A young developer, striking<br>
            from a laptop, has seized<br>
            the opportunity and has won<br>
            their first victory in the<br>
            world of the Digital Galaxy<br>
            The adventure continues...<br>
        </p>
    </div>
</div>